header {
background-color: chocolate;
color: white;
text-align: center;
}
.firsttext {
    box-sizing: border-box;
    border: chocolate dashed;
    height: 100px;
    width: 500px;
    margin-left: 180px;
    margin-top: 50px;
}
.firsttext h5 {
    text-align: center;
}
.first-line {
    padding: 20px;
}
.first-line p {
    color: chocolate;
}
.second-line-p {
    color: chocolate;
}
.second-line {
    padding: 20px;
}
.col-md-8 h4 {
    padding-top: 20px;
    padding-left: 180px;
    color: grey;
}
.col-md-4 div {
    box-sizing: border-box;
    border: 1px solid beige;
}
.col-md-4 h5 {
    padding-top: 30px;
}

